@font-face {
  font-family: NewComputerModern;
  src: url(fonts/NewCM08-Regular.otf);
}
body {
  font-family: NewComputerModern;
}
h1 {
  font-size: 35px;
}
p {
  font-size: 20px;
}
small {
  font-size: 15px;
}
